.site-footer {
  background-color: $white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.xda:hover {
            color: #3ddc84;
          }
          &.github:hover {
            color: #1f84f7;
          }
          &.portfolio:hover {
            color: rgb(56, 161, 243);
          }
          &.codepen:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: #0077b5;
          }
        }
      }
    }
  }
}
