.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.xda:hover {
          color: #3ddc84;
        }
        &.github:hover {
          color: #1f84f7;
        }
        &.portfolio:hover {
          color: rgb(56, 161, 243);
        }
        &.codepen:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: #0077b5;
        }
      }
    }
  }
}
